name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Restore ccache
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.ccache
          key: cache-ccache-${{ runner.os }}-${{ github.ref_name }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'pnpm'

      - name: Install Node dependencies
        run: pnpm install

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y \
            gnome-desktop-testing \
            libasound2-dev \
            libpulse-dev \
            libaudio-dev \
            libfribidi-dev \
            libjack-dev \
            libsndio-dev \
            libx11-dev \
            libxext-dev \
            libxrandr-dev \
            libxcursor-dev \
            libxfixes-dev \
            libxi-dev \
            libxss-dev \
            libxtst-dev \
            libxkbcommon-dev \
            libdrm-dev \
            libgbm-dev \
            libgl1-mesa-dev \
            libgles2-mesa-dev \
            libegl1-mesa-dev \
            libdbus-1-dev \
            libibus-1.0-dev \
            libudev-dev \
            libthai-dev \
            libpipewire-0.3-dev \
            libwayland-dev \
            libdecor-0-dev \
            liburing-dev \
            ccache

      - name: Setup Emscripten
        run: |
          if [ ! -d "${{ github.workspace }}/.emsdk" ]; then
            git clone https://github.com/emscripten-core/emsdk.git ./.emsdk
          fi
          cd ./.emsdk
          ./emsdk install 4.0.22
          ./emsdk activate 4.0.22
          source ./emsdk_env.sh

      - name: Configure (Emscripten)
        run: pnpm run configure:emscripten

      - name: Build (Emscripten)
        run: pnpm run build:emscripten -j2

      - name: Configure (Win32)
        run: pnpm run configure:win32

      - name: Build (Win32)
        run: pnpm run build:win32 -j2

      - name: Configure (GCC)
        run: pnpm run configure

      - name: Build (GCC)
        run: pnpm run build -j2

      - name: Test
        run: pnpm run test
